<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <button (click)="getPosts()" data-cy="getPosts">Get Posts</button>
  <button (click)="getPostsByUser()" data-cy="getPostsByUser">
    Get Posts by UserID1
  </button>
  <div class="card-wrapper">
    <div *ngFor="let post of (posts | async)" class="post-card">
      <h2 class="post-title">{{ post.title }}</h2>
      <h4 class="user-id">{{ post.userId }}</h4>
      <p>{{ post.body }}</p>
    </div>
  </div>
  <hr />
  <button (click)="getUsers()" data-cy="getUsers">Get Users</button>
  <div class="user-card-wrapper">
    <div *ngFor="let user of (users | async)" class="user-card">
      <span class="username">{{ user.username | json }}</span>
      <div class="user-data">
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
